section {
    margin: 20px 0;
    padding: 20px;
    background-color: green; /* Couleur de fond de la section */
    border: 1px solid #ddd; /* Bordure de la section */
}

/* Vous pouvez également ajouter des classes spécifiques pour styliser différemment chaque section */
.section-principale {
    background-color: gray;
    border-color: #dee2e6;
}

.section-secondaire {
    background-color: gray;
    border-color: #ced4da;
}

/* Pour les titres de section */
h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Pour le texte de la section */
p {
    line-height: 1.6;
    color: #333;
}


body
{
background-color:marron;

}


